.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav_ul li {
  display: inline-block;
  padding: 10px;
}
.nav_ul {
  background-color: #61dafb;
}

.nav_ul li a {
  color: #fff;
  padding: 5px;
  text-decoration: none;
}
.footer_div {
  position: absolute !important;
  bottom: 0 !important;
  text-align: center;
  background: cornflowerblue;
  width: 100% !important;
}

.input_box {
  display: list-item;
  margin: auto;
  padding: 13px;
  width: 300px;
  border: 1px solid orange;
  margin-top: 20px;
}
.signup_btn {
  margin: 16px;
  width: 330px;
  padding: 13px;
  background-color: bisque;
  border: 1px solid darkorange;
}
.nav_right {
  text-align: right;
}
.nav_left {
  text-align: left;
}

.products_div {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  gap: 15px;
}
.product_div {
  border: 2px solid black;
  width: 200px;
  border-radius: 16px;
  background: azure;
}

.operation_btn {
  width: 70%;
  margin: auto;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 6px;
  background-color: bisque;
  border: 1px solid darkorange;
}

.search_input_box {
  width: 300px;
  padding: 6px;
  margin-bottom: 16px;
  border: 2px solid darkgoldenrod;
}
